@import "./config.rasi"

#window {
	fullscreen: true;
}

#textbox-prompt {
	str: "﩯";
}

#listview {
	spacing: 4ch;
  columns: 5;
	dynamic: true;
	fixed-columns: true;
}

#entry {
	expand: true;
}

#element {
	spacing: 2ch;
	orientation: vertical;
}

#element-icon {
	size: 64;
}

#element-text {
	expand: true;
	horizontal-align: 0.5;
	vertical-align: 0.5;
}
