"*":
  "atom-beautify":
    general:
      _analyticsUserId: "0cf41135-4fd5-4d4e-bedf-4e32cf3ff81e"
    jsx:
      beautify_on_save: true
    rust:
      beautify_on_save: true
      rustfmt_path: "/home/utkarsh/.cargo/bin/rustfmt"
    sass: {}
    typescript:
      default_beautifier: "Prettier"
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "linter"
      "autocomplete-paths"
      "ide-rust"
      "language-rust-bundled"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "FiraCode Nerd Font Mono"
    fontSize: 11
  "exception-reporting":
    userId: "701bb428-7430-4877-aef5-9c7e912d0aeb"
  "linter-sass-lint": {}
  "linter-tslint":
    fixOnSave: true
    rulesDirectory: "/Development/MyProjects/Portfolio/tslint.json"
  "linter-ui-default":
    panelHeight: 150
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  welcome:
    showOnStartup: false
